.changeTag {
  padding: 12px 16px;
}
.header {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.exitBtn {
  width: 34px;
  height: 34px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.exitBtn:hover {
  background-color: rgb(29, 28, 28);
}

.header h5 {
  font-weight: 400;
}
.box {
  margin-bottom: 12px;
}

.input {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  width: 100%;
  font-size: 19px;
}

@media screen {
  
  
}
