.userCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 260px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 15px;
  gap: 15px;
  z-index: 1500000;
}

.header {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
}

.description p {
  font-size: 14px;
  font-weight: 400;
}

.titleBlock h3 {
  cursor: pointer;
  color: rgb(231, 233, 234);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.titleBlock h3:hover {
  text-decoration: underline;
}