.dfltMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 336px;
  margin: 0 auto;
}

.dfltMsg h1 {
  margin-bottom: 8px;
}

.dfltMsg h6 {
  margin-bottom: 28px;
}
