.postPage{
  width: 600px;
}

.wrapper {
  padding: 0 16px 12px;
  border-bottom: 1px solid var(--main-grey-color);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  font-size: 15px;
}

.spaceBetween {
  width: 100%;
  display: flex;

  justify-content: space-between;
  position: relative;
}

.nickWithTag h5 {
  
  cursor: pointer;
}

.content {
  
  width: 100%;
 
  
}
