.header {
    display: flex;
    padding: 0 16px;
    align-items: center;
    cursor: pointer;
  }
  
  .icon {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px 10px 0;
    border-radius: 30px;
    transition: background-color 0.2s;
  }
  
  .icon:hover {
    background-color: rgb(24, 25, 25);
  }
  
  .title p {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(113, 118, 123);
  }